---
ReleaseN: "12-22"
preheader: ""

tableReset: "w-600 sm:w-full"

header: "https://res.cloudinary.com/patrik-vadura/image/upload/v1670935870/USLUNO/newsletter_12_22/background_christmas_pflike_ahw7gu.jpg"
---

<extends src="src/layouts/main.html">
  <block align="center" class="bg-white" name="template">
    <table class="bg-white w-full font-sans">
      <tr>
        <td align="center">
          <!-- TopBar -->
          <table class="bg-white {{ page.tableReset }}">
            <component src="topBar.html"></component>
          </table>

          <!-- Header -->
          <table class="bg-center bg-no-repeat bg-cover flex justify-center w-full"
                 style="background-image: url('{{ page.header }}'); height: 400px;">
          </table>

          <!-- Timeline -->
          <table class="py-8 w-full sm:w-full">
            <tr>
              <td align="center">

                <!-- O1 -->
                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-6/12 px-8 text-center">
                      <h1 class="text-secondary text-2xl font-extrabold mb-8 leading-sm sm:leading-sm">
                        Máme novou tvář
                      </h1>
                    </td>
                  </tr>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-8/12 px-8">
                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        S novou vizuální identitou přišel i <a href="https://www.u-sluno.eu/" class="text-primary" target="_blank">nový web</a>, na který jsme moc pyšní.
                      </p>
                    </td>

                    <td class="w-4/12">
                      <a href="https://www.u-sluno.eu/" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670936447/USLUNO/newsletter_12_22/timeline/500px/timeline_01_qlxaus.jpg" style="width: 200px;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <!-- O2 -->
                <table class="pt-8 {{ page.tableReset }}">
                  <tr>
                    <td class="w-12/12 px-8 text-center">
                      <h1 class="text-secondary text-2xl font-extrabold mb-8 leading-sm sm:leading-sm">
                        Pozoruhodný produkt
                      </h1>
                    </td>
                  </tr>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-4/12">
                      <a href="https://www.businessit.cz/cz1/top-reseni-pozoruhodne-it-produkty-pro-rok-2023.php" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670936447/USLUNO/newsletter_12_22/timeline/500px/timeline_02_bgjoev.jpg" style="width: 200px;">
                      </a>
                    </td>

                    <td class="w-8/12 px-8">
                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        S Promo Forecast AI jsme se dostali do TOP řešení: <a href="https://www.businessit.cz/cz1/top-reseni-pozoruhodne-it-produkty-pro-rok-2023.php" class="text-primary" target="_blank">Pozoruhodné IT produkty</a> pro rok 2023.
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <!-- O3 -->
                <table class="pt-8 {{ page.tableReset }}">
                  <tr>
                    <td class="w-12/12 px-8 text-center">
                      <h1 class="text-secondary text-2xl font-extrabold mb-8 leading-sm sm:leading-sm">
                        Jedna akce za druhou
                      </h1>
                    </td>
                  </tr>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Konference
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        Nejvíc jsme byli vidět na <a href="https://youtu.be/odUF0XChdnw" class="text-primary" target="_blank">Retail Summitu</a> s třídicími roboty.
                      </p>
                    </td>

                    <td class="w-4/12">
                      <a href="https://youtu.be/odUF0XChdnw" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670937683/USLUNO/newsletter_12_22/timeline/500px/timeline_03_02_play_m7qgmw.jpg" style="width: 200px;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-4/12">
                      <a href="https://youtu.be/LttqQB1o3ug" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670937683/USLUNO/newsletter_12_22/timeline/500px/timeline_03_01_play_zebhz2.jpg" style="width: 200px;">
                      </a>
                    </td>

                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Webináře
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        Za rok jsme uspořádali 5 webinářů a největší úspěch měl <a href="https://youtu.be/LttqQB1o3ug" class="text-primary" target="_blank">Promo Forecast AI.</a>
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Roboti naživo
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        Pro velký zájem jsme uspořádali <a href="https://youtu.be/Gg6KjLp-cF4" class="text-primary" target="_blank">ukázku autonomních robotů</a> ve Skladonu.
                      </p>

                    </td>

                    <td class="w-4/12">
                      <a href="https://youtu.be/Gg6KjLp-cF4" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670937683/USLUNO/newsletter_12_22/timeline/500px/timeline_03_play_c4ggcy.jpg" style="width: 200px;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <!-- O4 -->
                <table class="pt-8 {{ page.tableReset }}">
                  <tr>
                    <td class="w-12/12 px-8 text-center">
                      <h1 class="text-secondary text-2xl font-extrabold mb-8 leading-sm sm:leading-sm">
                        Sluno žije na sockách
                      </h1>
                    </td>
                  </tr>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-4/12">
                      <a href="https://www.facebook.com/slunocz/photos/a.1490447867714454/5091742157584989/" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670936447/USLUNO/newsletter_12_22/timeline/500px/timeline_04_01_bujong.jpg" style="width: 200px;">
                      </a>
                    </td>

                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Nej na Facebooku
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        <a href="https://www.facebook.com/slunocz/photos/a.1490447867714454/5091742157584989/" class="text-primary" target="_blank">Darujeme</a> krev a plazmu. V roce 2022 to bylo 17x 470 ml a 1x 830 ml.
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Nej na LinkedInu
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        Nejvíce reakcí získalo <a href="https://www.linkedin.com/posts/sluno_sortovac%25C3%25AD-roboti-activity-6897106230465085440-hOcW?utm_source=share&utm_medium=member_desktop" class="text-primary" target="_blank">video</a>, ve kterém jsme ukázali, jak to vypadá u nás v labu třídicích robotů.
                      </p>
                    </td>

                    <td class="w-4/12">
                      <a href="https://www.linkedin.com/posts/sluno_sortovac%25C3%25AD-roboti-activity-6897106230465085440-hOcW?utm_source=share&utm_medium=member_desktop" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670937683/USLUNO/newsletter_12_22/timeline/500px/timeline_04_02_play_xufcsm.jpg" style="width: 200px;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="w-4/12">
                      <a href="https://www.linkedin.com/newsletters/marketin-6980109247967608832/" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670936447/USLUNO/newsletter_12_22/timeline/500px/timeline_04_adoow2.jpg" style="width: 200px;">
                      </a>
                    </td>

                    <td class="w-8/12 px-8">
                      <h3 class="text-primary text-lg font-extrabold leading-sm sm:leading-sm">
                        Tvoříme zpravodaj
                      </h3>

                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        Na LinkedInu jsem založili <a href="https://www.linkedin.com/newsletters/marketin-6980109247967608832/" class="text-primary" target="_blank">MarketIn</a> o novinkách z retailu a logistiky očima našich expertů.
                      </p>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <!-- O5 -->
                <table class="pt-8 {{ page.tableReset }}">
                  <tr>
                    <td class="w-12/12 px-8 text-center">
                      <h1 class="text-secondary text-2xl font-extrabold mb-8 leading-sm sm:leading-sm">
                        Historický ostravský deal: K2 kupuje 50% podíl ve skupině Sluno
                      </h1>
                    </td>
                  </tr>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="px-8 text-center">
                      <p class="text-secondary mb-8 leading-sm sm:leading-sm">
                        „Čeká nás spousta práce na tom, abychom co nejvíce <a href="https://www.u-sluno.eu/historicky-ostravsky-deal-k2-kupuje-50-podil-ve-skupine-sluno/" class="text-primary" target="_blank">využili všech synergií</a>, které nám tohle partnerství dává. A kromě toho už teď vidím, že máme vedle sebe parťáky, kteří nám přinášejí nové pohledy a pomáhají rozšířit obzory.“
                        <br><br>
                        <b>Jiří Novák, předseda dozorčí rady Sluno</b>
                      </p>

                      <a href="https://www.u-sluno.eu/historicky-ostravsky-deal-k2-kupuje-50-podil-ve-skupine-sluno/" class="text-primary" target="_blank">
                        <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670852886/USLUNO/newsletter_12_22/timeline/05_K2_hiixc4.jpg" style="width: 600px;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- Spacer -->
                <table class="w-full">
                  <component src="spacers/spacer.html" locals='{ "size": "32" }'></component>
                </table>

                <table class="{{ page.tableReset }}">
                  <tr>
                    <td class="px-8 text-center">
                      <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1670852881/USLUNO/newsletter_12_22/timeline/06_PF_no4eda.png" style="width: 600px;">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- Footer -->
          <table class="w-full bg-white">
            <component src="footer.html" locals='{ "brand": "default" }'></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
