<tr>
  <td align="center" class="py-4">
    <img src="https://czechvisual.github.io/Sluno-emailing/output/production/images/logo/logo.png" class="p-4 block text-center" width="100" alt="">
    <a href="https://sluno.cz/"
       class="text-md text-secondary font-bold no-underline block text-center"
       target="_blank">
      <h4 class="text-center">
        www.sluno.cz
      </h4>
    </a>
    <p class="text-sm text-gray-normal text-center font-bold no-underline block">
      <a href="mailto:sluno@sluno.cz
              ?subject='Zpráva'
              &cc='sluno@sluno.cz'
              &body='Zpráva'"
         class="text-gray-normal no-underline">
        sluno@sluno.cz
      </a>
      | +420 596 134 157</p>
    <table>
      <tr>
        <td class="p-3">
          <a href="https://www.facebook.com/slunocz/" target="_blank">
            <img src="https://czechvisual.github.io/Sluno-emailing/output/production/images/icons/facebook-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://www.youtube.com/channel/UC1ztuszn-Si95RalNja1Njw" target="_blank">
            <img src="https://czechvisual.github.io/Sluno-emailing/output/production/images/icons/youtube-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://www.linkedin.com/company/354076/" target="_blank">
            <img src="https://czechvisual.github.io/Sluno-emailing/output/production/images/icons/linkedin-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://anchor.fm/usluno" target="_blank">
            <img src="https://czechvisual.github.io/Sluno-emailing/output/production/images/icons/spotify-gray.png" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
