<tr>
  <td align="center" class="py-4">
    <!-- Logo -->
    <if condition="brand === 'robotics'">
      <img src="images/logo/logo_robotics.png" class="p-4 block text-center" width="170" alt="">
    </if>

    <else>
      <img src="images/logo/logo.png" class="p-4 block text-center" width="100" alt="">
    </else>

    <!-- Contact -->
    <if condition="brand === 'robotics'">
      <a href="https://sluno.cz/"
         class="text-md text-secondary font-bold no-underline block text-center"
         target="_blank">
        <h4 class="text-center">
          www.sluno.cz
        </h4>
      </a>
      <p class="text-sm text-gray-normal text-center font-bold no-underline block">
        <a href="mailto:robotics@sluno.cz
              ?subject=''
              &body=''"
           class="text-gray-normal no-underline">
          robotics@sluno.cz
        </a>
        | +420 596 134 157</p>
    </if>

    <else>
      <a href="https://sluno.cz/"
         class="text-md text-secondary font-bold no-underline block text-center"
         target="_blank">
        <h4 class="text-center">
          www.sluno.cz
        </h4>
      </a>
      <p class="text-sm text-gray-normal text-center font-bold no-underline block">
        <a href="mailto:sluno@sluno.cz
                ?subject='Zpráva'
                &cc='sluno@sluno.cz'
                &body='Zpráva'"
           class="text-gray-normal no-underline">
          sluno@sluno.cz
        </a>
        | +420 596 134 157</p>
    </else>

    <!-- Social -->
    <table>
      <tr>
        <td class="p-3">
          <a href="https://www.facebook.com/slunocz/" target="_blank">
            <img src="images/icons/facebook-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://www.youtube.com/channel/UC1ztuszn-Si95RalNja1Njw" target="_blank">
            <img src="images/icons/youtube-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://www.linkedin.com/company/354076/" target="_blank">
            <img src="images/icons/linkedin-gray.png" width="15" alt="">
          </a>
        </td>
        <td class="p-3">
          <a href="https://anchor.fm/usluno" target="_blank">
            <img src="images/icons/spotify-gray.png" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
